$LoginColor: white;
$backgroundColor: #eeefef;
$borderColor: lightgrey;
$inputBoxColor: #aaaaaa;
$buttonColor: #aed3ea;
$warningColor: #4c8bb6;

body {
  background-color: $backgroundColor;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 600px;
  margin: 5% 25%;
  background-color: $LoginColor;
  border: 3px solid $borderColor;
  border-radius: 5px;

  .wrapper,
  .form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo,
  .form-div,
  .inputBox,
  .buttonBox {
    box-sizing: border-box;
    width: 100%;
  }

  .wrapper {
    width: 70%;
    height: 200px;
  }

  .logo {
    margin-top: 50px;
  }

  .inputBox,
  .buttonBox {
    height: 45px;
    margin: 13px 10%;
    padding: 0 10px;
    background-color: $backgroundColor;
    border: 2px solid $borderColor;
    border-radius: 8px;
  }

  #inputId,
  #inputPw {
    border-radius: 5px;
  }

  #inputId::placeholder,
  #inputPw::placeholder {
    color: $inputBoxColor;
  }

  .forgotPw {
    padding-top: 60px;
    color: $warningColor;
    font-size: 15px;
    text-decoration: none;
  }

  .buttonBox {
    color: $LoginColor;
    background-color: $buttonColor;
    border: none;
    font-size: 15px;
  }

  .buttonBoxloginButton:hover {
    cursor: pointer;
  }
}
