.nav_wrap{
    display: flex;
    justify-content: space-around;
    background-color: #F6F5EF;


    h1{
        font-size: 60px;
        font-family: 'Dancing Script', cursive;
        float: left;
    }

    .global_nav{
        display: flex;
        float: right;
        align-items: center;
    }
}