.Login{
    box-sizing: border-box;
    background-color: #edefef;
    height: 100vh;

    .login_wrap{
        display: flex;
        justify-content: center;

        h1 {
            font-family: 'Dancing Script', cursive;
            font-size: 50px;
        }

        .logo{
            width: 350px;
            height: 480px;
            background-color: white;
            display: flex;
            margin-top: 10%;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
        }

        form {
            display: flex;
            flex-direction: column;

        }

        input {
            width: 300px;
            height: 40px;
            margin-bottom: 15px;
            border: 1px solid black;
            border-radius: 5px;
            background-color: #F7F7F7;
            outline: none;
        }


        button {
            margin-bottom: 70px;
            background-color: #AED3EA;
            // opacity: 0.4;
            border: 0px;
            border-radius: 5px;
            height: 40px;
            color: white;
            cursor: pointer;
        }

        a{
            color: lightblue;
            text-decoration: none;
        }
        a:hover{
            color: #0095F6;
        }
    }
}