.Login-setup {
  display: flex;
  height: 100vh;
  font: {
    family: 'Nanum Gothic', sans-serif;
    size: 10px;
  }
  background-color: #eeefef;
  align-items: center;
  justify-content: center;
}

.container {
  // container basic styles
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 300px;
  height: 500px;
  max-height: 500px;
  padding: 4rem 3.5rem;
  border: 3px solid #ddd;
  border-radius: 5px;
  background: #ffffff;
  .title {
    margin-top: 2rem;
    margin-bottom: 0.5em;
    text-align: center;
    font: {
      family: 'Dancing Script', cursive;
      size: 4rem;
      weight: bold;
    }
  }
  // input id & pwd styles
  form {
    input {
      margin: 0.5rem;
      width: 85%;
      padding: 0.75rem;
      border-radius: 5px;
      border: 2.5px solid #ddd;
      outline: none;
      background: #f7f7f7;
      transition: background 0.2s, border-color 0.2s;
    }
    // button styles
    .login-btn {
      margin: 0.5rem;
      width: 95%;
      padding: 0.75rem;
      font-weight: bold;
      font-size: 1rem;
      color: #ffffff;
      border: none;
      border-radius: 7px;
      outline: none;
      cursor: pointer;
      background-color: #60aded;
    }
  }
  // "비밀번호를 잊으셨나요?" style
  .find-pwd {
    text-align: center;
    .link {
      text-decoration: none;
      font-size: 1rem;
      color: #789db6;
    }
    .link:hover {
      text-decoration: underline;
    }
    margin-top: 10rem;
  }
}
