.container-Detail {
    margin: 0;
}

.header {
    background-color: 	#f4f3ec;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    
}
.main_logo {
    
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    padding: 1% 2% 1% 2%;

}

.category {
    
    list-style: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
    width: 30%;
    padding-top: 0.2rem;
}

.category_li {
    
    text-decoration: none;
    color: grey;
    letter-spacing: 0.1rem;
    margin: auto;
}

.coffee_category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.coldBrew {
    font-size: 30px;
    font-weight: bold;
    margin-left: 5%;
    padding: 25px 0 30px 0;
}

.route {
    color: grey;
    margin-right: 6%;
    padding-top: 4rem;
}

.imgAndInfo {
    display: flex;
    flex-direction: row;
}

.coffee_img {
    margin-left: 5%;
    margin-right: 10%;
}

.nameAndLike {
    display: flex;
    flex-direction: row;
}

.coffee_info {
}

.coffee_name {
    margin: 0 30px 20px 20px;
    padding: 20px 20px;
}

// .footer {
// }