@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.Detail {
  box-sizing: border-box;
  font-family: sans-serif;

  section {
    display: flex;
    flex: 1;
  }

  .TopNav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 15px 0;
    background-color: #f4f3ec;

    .webucks {
      margin-left: 1%;
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
      text-decoration: none;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .link {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 30%;
      margin-right: 2%;
      font-size: small;

      a {
        color: #9a9a95;
        text-decoration: none;
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;

    .categoryTitle {
      font-weight: bolder;
      margin: 0;
      padding: 0;
      font-size: 30px;
    }

    .categoryTrace {
      margin-top: 3%;
      padding: 0;
      font-size: 15px;
    }
  }

  aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1% 1%;

    img {
      width: 100%;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding: 1%;

    .titleWrapper {
      border-bottom: 2px solid;

      .nameWrapper {
        display: flex;
        flex-direction: column;

        #korName {
          margin: 0;
          font-weight: bold;
          font-size: 20px;
        }

        #engName {
          margin: 0;
          margin-bottom: 1%;
          font-size: 12px;
        }
      }
      #heartIcon {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .fa-heart {
          position: absolute;
        }

        .unliked {
          z-index: 100;
          background-color: white;
          opacity: 1;
          cursor: pointer;
        }

        .liked {
          z-index: 80;
          color: red;
          cursor: pointer;
        }
      }
    }
    .coffeeDetail {
      border-bottom: 1px solid;
      padding: 1%;
    }
    .nutritionTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1%;
      border-bottom: 1px solid;
    }
    .nutritionDetail {
      padding: 2% 0;

      .nutritionWrapper {
        padding: 0 1%;

        .nutrtionName {
          display: flex;
          flex-direction: column;
        }

        .nutritionNum {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }

      #forCenterLine {
        border-right: 1px dashed;
      }
    }
    .allregic {
      display: flex;
      align-items: center;
      padding: 1% 1%;
      width: 100%;
      border-radius: 5px;
      background-color: gainsboro;
    }

    .review {
      display: flex;
      flex-direction: column;

      .reviewTitle {
        margin: 0;
        padding-top: 2%;
        padding-bottom: 0.5%;
        border-bottom: 1px solid;
        font-weight: bold;
        font-size: 20px;
      }

      .reviewLog {
        margin: 1% 0;
        padding: 0;
        overflow: auto;
        height: 110px;

        li {
          list-style: none;

          .nickname {
            padding: 0 1%;
            font-weight: 700;
          }
        }
      }

      .reviewInput {
        margin: 0;
        margin-top: 1%;
        padding: 0.5% 0;
        padding-left: 1%;
        border: none;
        border-radius: 5px;
        background-color: gainsboro;
        font-size: 15px;
      }
    }
  }

  .Footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #262626;

    ul {
      padding-left: 0;

      .footerListTitle {
        padding-bottom: 2vh;
      }
    }

    li {
      margin-bottom: 1vh;
      list-style: none;
      color: white;
      font-size: 10px;
    }
  }
}
